<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding New Author</title>
</head>
<body>

    <h1> Adding New Author </h1>

    <form action="/addAuthor" method="POST">
        First Name: <input type="text" name="fn"> <br>
        Last Name: <input type="text" name="ln">  <br>
        Date of Birth <input type="date" name="dob"> <br>
        Biography: <textarea name="bio"></textarea>
        <button> Add Author </button>
    </form>
    
</body>
</html>